@{
    ViewData["Title"] = "About";
}

<h1 style="color:white">@ViewData["Title"]</h1>

<p style="color: white">Copyright David Gogodze 2022, All Rights Reserved.</p>
<p style="color: white">Contact Email: Gordelidato@gmail.com</p>
