@{
    ViewData["Title"] = "Welcome!";
}

<html>
<head>
    
    <link rel="stylesheet" type="text/css" href="~/Content/Index.css">


</head>

<body>
    <h1>
        Welcome!
    </h1>

    <p>
        Please Start By Logging In <u>@Html.ActionLink("Here","Index","Login")</u>
    </p>

</body>
</html>